* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: "Arial", sans-serif;
}
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

.right{
  background: #0056fb;
}